In [30]:
import pandas as pd
import numpy as np

In [ ]:
#Loadng the users dataset

us_df = pd.read_csv(r"/Users/treva.ogwang/Desktop/Codes/investment/users.csv")
us_df

,user_id,age,country,income_level,investment_experience,num_investments,total_invested
0,1,58,Germany,Low,Novice,6,4306.73
1,2,32,France,Medium,Intermediate,14,15305.28
2,3,52,Germany,Medium,Novice,11,25018.27
3,4,23,France,Low,Intermediate,17,29858.32
4,5,53,France,Medium,Intermediate,18,42622.42
...,...,...,...,...,...,...,...
9995,9996,62,Germany,High,Novice,20,54535.88
9996,9997,19,Sweden,High,Intermediate,10,8895.99
9997,9998,44,Italy,Low,Novice,7,29307.56
9998,9999,35,France,High,Novice,7,10187.85
9999,10000,36,Netherlands,High,Expert,10,14425.07

In [32]:
inv_df = pd.read_csv(r"/Users/treva.ogwang/Desktop/Codes/investment/investments.csv")
inv_df

,investment_id,user_id,investment_name,category,risk_level,amount_invested,return_percent
0,1,1,Crude Oil,Commodities,Medium,938.54,-11.68
1,2,1,Municipal Bond B,Bond,Low,339.19,9.78
2,3,1,S&P 500 Index Fund,Index Fund,High,119.68,9.19
3,4,1,Simon Property Group,Real Estate,Medium,2462.50,20.16
4,5,1,BMW,Stock,Low,41.60,-3.71
...,...,...,...,...,...,...,...
125017,125018,10000,Lyxor MSCI World,ETF,Medium,369.95,14.10
125018,125019,10000,Simon Property Group,Real Estate,High,2701.29,-5.55
125019,125020,10000,Litecoin,Crypto,Low,2448.56,-0.44
125020,125021,10000,Lyxor MSCI World,ETF,High,255.41,26.44
125021,125022,10000,Crude Oil,Commodities,Medium,1590.00,-11.08

EXPLORATORY DATA ANALYSIS

In [41]:
us_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   user_id                10000 non-null  int64
 1   age                    10000 non-null  int64
 2   country                10000 non-null  object
 3   income_level           10000 non-null  object
 4   investment_experience  10000 non-null  object
 5   num_investments        10000 non-null  int64
 6   total_invested         10000 non-null  float64
dtypes: float64(1), int64(3), object(3)
memory usage: 547.0+ KB

In [42]:
us_df.describe()

           user_id           age  num_investments  total_invested
count  10000.00000  10000.000000     10000.000000    10000.000000
mean    5000.50000     41.617600        12.502200    25022.772738
std     2886.89568     13.876463         4.577935    11643.631353
min        1.00000     18.000000         5.000000      943.710000
25%     2500.75000     30.000000         8.000000    15890.065000
50%     5000.50000     42.000000        13.000000    24011.995000
75%     7500.25000     54.000000        16.000000    32897.400000
max    10000.00000     65.000000        20.000000    75401.740000

In [43]:
inv_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125022 entries, 0 to 125021
Data columns (total 7 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   investment_id    125022 non-null  int64
 1   user_id          125022 non-null  int64
 2   investment_name  125022 non-null  object
 3   category         125022 non-null  object
 4   risk_level       125022 non-null  object
 5   amount_invested  125022 non-null  float64
 6   return_percent   125022 non-null  float64
dtypes: float64(2), int64(2), object(3)
memory usage: 6.7+ MB

In [44]:
inv_df.describe()

       investment_id        user_id  amount_invested  return_percent
count  125022.000000  125022.000000    125022.000000   125022.000000
mean    62511.500000    4977.688711      2001.469560        5.017727
std     36090.887015    2887.014936      2002.822844       14.972571
min         1.000000       1.000000         0.010000      -62.090000
25%     31256.250000    2473.000000       574.262500       -5.070000
50%     62511.500000    4977.000000      1390.320000        5.030000
75%     93766.750000    7461.000000      2767.367500       15.070000
max    125022.000000   10000.000000     21567.030000       75.420000

In [ ]:
#Checking if all user_ids are valid.

invalid_users = us_df[~us_df['user_id'].isin(inv_df['user_id'])]
if invalid_users.empty:
    print("All user_ids in the investments dataset are valid.")
else:
    print("Invalid user_ids found in the investments dataset:")
    print(invalid_users)

All user_ids in the investments dataset are valid.

In [ ]:
#Checking for missing values in the users dataset

us_df.isnull().sum()

user_id                  0
age                      0
country                  0
income_level             0
investment_experience    0
num_investments          0
total_invested           0
dtype: int64

In [ ]:
#Checking for missing values in the investments dataset

inv_df.isnull().sum()

investment_id      0
user_id            0
investment_name    0
category           0
risk_level         0
amount_invested    0
return_percent     0
dtype: int64

In [ ]:
#Checking for duplicates in the users dataset

us_duplicates = us_df[us_df.duplicated()]
if us_duplicates.empty:
    print("No duplicates found in the users dataset.")
else:
    print("Duplicates found in the users dataset:")
    print(us_duplicates)
#Checking for duplicates in the investments dataset
inv_duplicates = inv_df[inv_df.duplicated()]
if inv_duplicates.empty:
    print("No duplicates found in the investments dataset.")
else:
    print("Duplicates found in the investments dataset:")
    print(inv_duplicates)

No duplicates found in the users dataset.
No duplicates found in the investments dataset.

In [ ]:
#Checking the different categories of investments

inv_df['category'].value_counts()

category
Crypto         18171
Commodities    17994
Index Fund     17839
ETF            17785
Bond           17767
Real Estate    17767
Stock          17699
Name: count, dtype: int64

FEATURE ENGINEERING

I will now create new features from the inv_df and add them later in the us_df

In [ ]:
#Getting the avg_investment per user - this will help us know how much each user invests on average. A highere avg_investment means that the user is more likely to invest more money and thus is a better candidate for the investment program.

avg_investment = inv_df.groupby('user_id')['amount_invested'].mean()
avg_investment.head()

user_id
1     717.788333
2    1093.234286
3    2274.388182
4    1756.371765
5    2367.912222
Name: amount_invested, dtype: float64

In [ ]:
#Getting the avg_return_percent per user - this will help us know how much each user earns on average. A higher return percent indicates a better investment thus translatind to the company earning more.

avg_return_percent = inv_df.groupby('user_id')['return_percent'].mean()
avg_return_percent.head()

user_id
1    3.476667
2    0.785714
3    7.065455
4    1.881176
5    4.346667
Name: return_percent, dtype: float64

In [58]:
#Getting the dominant category of investmeent per user - this will help us know which category of investment each user favours. A user who invests in a particular category is more likely to invest in that category again.
#Creating a function to get the dominant category using the mode and if there is none, I will assign None to the user.

def mode_cat(series):
    mode_vals = series.mode()
    return mode_vals[0] if len(mode_vals) == 1 else 'None'

#Using the function to get the dominant category of investment per user
dominant_cateogory = inv_df.groupby('user_id')['category'].agg(mode_cat).rename('dominant_category')
dominant_cateogory.head()

user_id
1           None
2    Commodities
3         Crypto
4    Commodities
5            ETF
Name: dominant_category, dtype: object

In [65]:
#Getting the dominant risk level of investment per user - this will help us know which risk level of investment each user favours. A user who invests in a particular risk level is more likely to invest in that risk level again.
#Using the same function mod_cat to get the dominant risk level of investment per user

dominant_risk_level = inv_df.groupby('user_id')['risk_level'].agg(mode_cat).rename('dominant_risk')
dominant_risk_level.head()

user_id
1    Medium
2      None
3    Medium
4       Low
5    Medium
Name: dominant_risk, dtype: object

In [66]:
#Merging the new created features with the users dataset to get a complete dataset of the users and their investment behaviour.
inv_features = pd.concat([avg_investment, avg_return_percent, dominant_cateogory, dominant_risk_level], axis=1)
us_df_modified = us_df.merge(inv_features, on='user_id', how='left')
us_df.head()

,user_id,age,country,income_level,investment_experience,num_investments,total_invested,amount_invested,return_percent,dominant_category,dominant_risk
0,1,58,Germany,Low,Novice,6,4306.73,717.788333,3.476667,None,Medium
1,2,32,France,Medium,Intermediate,14,15305.28,1093.234286,0.785714,Commodities,None
2,3,52,Germany,Medium,Novice,11,25018.27,2274.388182,7.065455,Crypto,Medium
3,4,23,France,Low,Intermediate,17,29858.32,1756.371765,1.881176,Commodities,Low
4,5,53,France,Medium,Intermediate,18,42622.42,2367.912222,4.346667,ETF,Medium

In [67]:
#Saving the new dataset to a csv file
us_df_modified.to_csv(r"/Users/treva.ogwang/Desktop/Codes/investment/users_investments.csv", index=False)
print("New dataset saved to users_investments.csv")

New dataset saved to users_investments.csv